.cart {
  width: 50rem;
  height: 100vh;
  background: $white;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, .08);
  @include bezier-transition(transform);
  z-index: map-get($z-index, 'cart');

  @include mobile {
    width: 100%;
  }
}

.cart-toggle {
  &:hover {
    cursor: pointer;
  }
}

.cart-list {
  padding: $m-size;
  padding-bottom: 100px;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  margin-bottom: $s-size;
  @include bezier-transition();
  animation: slide-up .5s ease;
}

.cart-item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 $s-size;
}

.cart-empty {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-empty-msg {
  color: $gray-10;
}

.cart-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: -20px;
  background: $white;
  z-index: map-get($z-index, 'cart');
}


.cart-header-title {
  flex-grow: 1;
}

.cart-item-img-wrapper {
  width: 90px;
  height: 60px;
  margin-right: $m-size;
  position: relative;
}

.cart-item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  margin: $s-size 0;
  width: 142px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  position: relative;
}

.cart-item-price {
  margin: $s-size 0;
}

.cart-item-remove {
  align-self: center;
}

.cart-clear {
  align-self: center;
}

.cart-checkout {
  background: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: $m-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    margin: auto;
    width: 93%;
    height: .5px;
    background: $border-color;
  }
}

.cart-checkout-button {
  font-size: $font-medium;
  padding: $m-size $l-size;
  text-transform: uppercase;
}

.cart-total {
  // flex-grow: 1;
}

.cart-total-title {
  font-size: $font-small;
  margin: 0;
}

.cart-total-amount {
  margin: $s-size 0;
}

.cart-item-control {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-control {
  width: 32px;
  height: 32px;
  padding: 5px;
  font-weight: bold;
}

.cart-control-count {
  margin: 5px;
}
